.cardbox {
  width: 21rem;
  /* padding:10px 10px 0px 10px; */
  /* padding-top:15px ; */
  /* margin:10px; */
  margin-bottom: 40px;
  background-color: white !important;
  border-radius: 13px !important;
  /* box-shadow:5px 8px 5px rgb(207, 205, 205); */
  overflow: hidden;
  text-decoration: none;
}
.bookimage {
  width: 100%;
  height: 200px;
  margin: auto;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
}
.cardbox:hover .bookimage {
  transform: scale(1.1);
}
.booktitle {
  text-align: center;
  /* font-family: 'Arial Narrow', Arial, sans-serif; */
  /* font-size:50px !important; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* margin-bottom:20px; */
  padding: 10px;
  border-bottom: 1px solid rgb(225, 203, 245);
  color: black;
  /* overflow: hidden; */
  text-decoration: none;
}
.cardattribute {
  /* padding-bottom: 1.5em;
    border-top: 2px solid hsl(215, 32%, 27%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallavatar {
  width: 2.2em;
  height: 2.2rem;
  border-radius: 300px;
  outline: 2px solid white;
  margin-right: 0.5em;
}
.booktext {
  color: rgb(84, 9, 155);
  font-size: 18px;
  /* margin-bottom: 3px; */
  margin: 0px;
}
.author {
  color: black;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coin-base,
.time-left {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  color: white;
}
.small-image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 200px;
  margin-right: 0.3em;
}
.bookdata {
  margin-top: 13px;
  color: rgb(96, 16, 172);
}
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 1150px;
}
.card-text-container {
  margin: 5px !important;
}
.link-box {
  text-decoration: none;
}
